option_settings:
  aws:elasticbeanstalk:application:environment:
      STORAGE_NAME": "trmstandard",
      STORAGE_KEY": "MYERWIdOFyOdZRe2vKM7ift9Vnu1x/bdC5zHHB6cR8ucbkWl8+tRbMLHhXJ+PsHEsrDZh5XAcMdpZumcvPTnEA==",
      PARTITION_KEY_MENU: "Menu",
      PARTITION_KEY_ORDER: "Order",
      PARTITION_KEY_DRIVER: "Driver",
      TABLE_NAME: "lunsjlocaljat"